<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Insertar Datos</title>
</head>
<body>

    {% block content %}
    <div class="container mt-4">
        <h2>Insertar Datos en {{ table }}</h2>
    
        <!-- Formulario para realizar inserción -->
        <form method="post" action="{{ url_for('insert_data', table=table) }}">
            {% for column in columns %}
                <div class="form-group">
                    <label for="{{ column[0] }}">{{ column[0] }}:</label>
                    <input type="text" class="form-control" id="{{ column[0] }}" name="{{ column[0] }}" required>
                </div>
            {% endfor %}
        
            <button type="submit" class="btn btn-success">Insertar</button>
        </form>
    </div>
    {% endblock %}
    
    </body>
    </html>